/* Your CSS utilities go here. */

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.w-screen {
  width: 100vw;
}

.h-screen {
  height: 100vh;
}

.bg-blue-5 {
  background: var(--blue-5);
}

.text-green-1 {
  color: var(--green-1);
}

.text-xl {
  font-size: 1.25rem;
}
