---
title: Home
---

<div class="flex items-center justify-center w-screen h-screen">
  <div class="circle flex items-center justify-center bg-blue-5 text-green-1 text-xl">
    Hello, world!
  </div>
</div>
