---
title: Home
---

<div class="flex items-center justify-center w-screen h-screen bg-indigo-darkest">
  <div class="hello flex items-center w-64 h-64 p-8 border border-indigo-darker rounded-full shadow-inner bg-indigo-darker">
    <h1 class="text-center text-indigo-lightest font-mono leading-tight">Hello, World!</h1>
  </div>
</div>
<footer class="fixed pin-b pin-r py-4 px-6">
  <a href="https://github.com/jonaskay/middleman-boilerplate">
    <%= image_tag "github.png", width: 24, height: 24 %>
  </a>
</footer>
